body {
    font-family: Arial, sans-serif;
    background-image: url(img/Fondo-login.jpg);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    background-color: #000000c0;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button{
    padding: 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

.person {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.person:last-child {
    border-bottom: none;
}

h2 {
    color: #007bff;
    margin: 1vh;
}

p, li {
    font-size: 19px;
    color: #f1f1f1;
    margin: 4vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

li::before {
    content: "• ";
    color: #007BFF;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p, li {
        font-size: 14px;
    }
}
